Sources/Resources/Models/*.mlmodel filter=lfs diff=lfs merge=lfs -text
Sources/Resources/Models/*.mlpackage filter=lfs diff=lfs merge=lfs -text
Sources/Resources/Models/**/weight.bin filter=lfs diff=lfs merge=lfs -text
Sources/Resources/Models/**/model.mlmodel filter=lfs diff=lfs merge=lfs -text
